body {
  background-color: #E8E4DA;
  /*background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}
main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Répartit l'espace équitablement */
  align-items: center;
  padding: 5px 0;
  box-sizing: border-box;
  overflow: hidden; /* Empêche tout défilement */
}

.gridTile {
  display: grid;
  gap: 0px;
  justify-content: center;

  width: 90vw;
  max-height: 40dvh;/* Prend 90% de la largeur de l'écran */
  aspect-ratio: 1 / 1;    /* Force le conteneur à rester un carré parfait */
  margin: 0 auto;       /* Centre la grille horizontalement */

  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);

}

.tileLevel0 {
  position: relative; 
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.tileLevel1 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;

  background-size: 100% 100%;  
}

.tileLevel2 {
  position: absolute;
  z-index: 2;
  
  width: 100%;
  height: 100%;

  background-size: 100% 100%;  
}

.tileLevel3 {
  position: absolute;
  z-index: 3;

  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.pathLevel {
  position: absolute;
  z-index: 4;
  
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.tileDecorationFat{
  position: absolute;
  z-index: 5;

  bottom: 0%;
  left: 50%;
  
  width: 200%;
  height: 200%;

  background-size: 100% 100%;
  transform: translateX(-50%);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.tileDecorationLittle{
  position: absolute;
  z-index: 5;

  bottom: 25%;
  left: 50%;
  
  width: 100%;
  height: 100%;

  background-size: 100% 100%;
  transform: translateX(-50%);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.tilePlayer{
  position: absolute;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-size: 100% 100%;
  transform: translateY(-50%);
}

.barreAction{
  display: grid;
  grid-template-columns: 1fr 1fr;

  min-height: 100px;
  width: 90vw;
  
  gap: 5px;
  margin: 0 auto;
  margin-top: 20px;
}

.buttonAction{  
  background-size: 100% 100%;       /* ou 100% 100% */
  background-position: center;  /* Centre l'image dans la case */
  background-repeat: no-repeat; /* Évite que l'image ne se répète */
  background-color: transparent;
  border: none;
}

#buttonMove{
  background-image: url('../IMAGE/ICON/background_button_up.png');
  background-size: 100% 100%;
  font-size: 3em;
}

#buttonMove:active {
  background-image: url('../IMAGE/ICON/background_button_down.png');
  }

#buttonEnd{
  background-image: url('../IMAGE/ICON/background_button_up.png');
  background-size: 100% 100%;
  font-size: 3em;
}

#buttonEnd:active{
  background-image: url('../IMAGE/ICON/background_button_down.png');
}

.gridHand{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90vw;
  
  margin: 0 auto;
  margin-top: 30px;
  gap: 30px;
  
  min-height: 200px;
}

.tileHand{
  border: 1px black solid;
  border-radius: 5px;

  background-size: 100% 100%;       /* ou 100% 100% */
  background-position: center;  /* Centre l'image dans la case */
  background-repeat: no-repeat; /* Évite que l'image ne se répète */
}

.logFight{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  text-align: center;
  
  margin-top: 10px;
  padding-top: 5px;

  min-height: 400px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 20px;
  white-space: pre-line;

  background-image: url('../IMAGE/UI/background_logfight_2.png');
  background-size: 100% 100%;
}

.barreInfoPlayer{
  display: grid;
  grid-template-columns: 1fr 1fr;

  min-height: 150px;
  width: 90vw;
  
  margin: 0 auto;
  margin-top: 20px;
  gap: 5px;
}

#elementInfoPlayerLeft{
  background-image: url('../IMAGE/UI/background_infoplayer_left.png');
  background-size: 100% 100%;  
  
  min-height: 50px;

  display: flex;
  justify-content: left;
  align-items: center;
}

#infoPlayerLeftText {
  width: 50%;
  font-size: 2em;
  color: white;
  margin-left: 10%;
  text-align: left;
}

#infoPlayerLeftCharacter{
  height: 50%;
  width: 15%;
  margin-left: 10%;
  background-image: url('../IMAGE/CHARACTER/character_down.png');
  background-repeat: none;
  background-size: 100% 100%;  
}

#elementInfoPlayerRight{
  background-image: url('../IMAGE/UI/background_infoplayer_right.png');
  background-size: 100% 100%;  
  
  min-height: 50px;

  display: flex;
  justify-content: right;
  align-items: center;
}

#infoPlayerRightText {
  width: 50%;
  font-size: 2em;
  color: white;
  margin-right: 10%;
  text-align: right;
}

#infoPlayerRightCharacter{
  height: 50%;
  width: 15%;
  margin-right: 10%;
  background-image: url('../IMAGE/CHARACTER/character_down.png');
  background-repeat: none;
  background-size: 100% 100%;  
}

.victoryPlayer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  left: 12.5%;
  top: 25%;

  z-index: 100;
  background-image: url('../IMAGE/UI/background_victory.png');
  background-size: 100% 100%;

  width: 300px;
  height: 150px;
}

.hidden{
  display: none;
}

.barreButtonVictory{
  display: flex;
  width: 100%;
  gap: 10px;
}

#buttonRestart{
  flex: 1;
  height: 40px;
  margin-left: 20px;
  
  background-image: url('../IMAGE/ICON/background_button_up.png');
  background-size: 100% 100%;
  background-position: center;  /* Centre l'image dans la case */
  background-repeat: no-repeat; /* Évite que l'image ne se répète */
  background-color: transparent;
  border: none;
}

#buttonRestart:active{
  height: 40px;
  
  background-image: url('../IMAGE/ICON/background_button_down.png');
  background-size: 100% 100%;
  background-position: center;  /* Centre l'image dans la case */
  background-repeat: no-repeat; /* Évite que l'image ne se répète */
  background-color: transparent;
  border: none;
}

#buttonQuit{
  flex: 1;
  height: 40px;
  margin-right: 20px;
  
  background-image: url('../IMAGE/ICON/background_button_up.png');
  background-size: 100% 100%;
  background-position: center;  /* Centre l'image dans la case */
  background-repeat: no-repeat; /* Évite que l'image ne se répète */
  background-color: transparent;
  border: none;
}

#buttonQuit:active{
  height: 40px;
  
  background-image: url('../IMAGE/ICON/background_button_down.png');
  background-size: 100% 100%;
  background-position: center;  /* Centre l'image dans la case */
  background-repeat: no-repeat; /* Évite que l'image ne se répète */
  background-color: transparent;
  border: none;
}

#textVictory{
  margin-bottom: 10px;
  font-size: 3em;
}
