/* Header */
.banniere {
  background-image: url('onitools_bandeau.png');
  background-size: cover; /* Remplace 100% 100% pour eviter de deformer l'image */
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;

  border: 1px black solid;
  border-radius: 5px;
}

/* Main */
h1 {
  background-color: skyblue;
  border: 1px black solid;
  border-radius: 5px;
  
  color: black;
  font-size: 1.5em;
  text-align: center;

  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 1em;
  text-align: center;
}

/* All Buttons */
.button {
  display: grid;
  background-color: skyblue;
  border: 1px black solid;
  border-radius: 5px;

  width: auto;
  height: auto;

  text-align: center;
  font-size: 1em;
  text-decoration: none; /* Enleve le soulignement par defaut des liens <a> */
}
